@page "/"

<PageTitle>Employee Management</PageTitle>

<h1>Welcome to Employee Management</h1>

<p>
    This application allows you to manage employee information. Use the navigation menu to:
</p>

<ul>
    <li>View all employees</li>
    <li>Add new employees</li>
    <li>Edit existing employee information</li>
    <li>Remove employees from the system</li>
</ul>

<div class="mt-4">
    <a href="/employees" class="btn btn-primary">Go to Employees</a>
</div>